################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Translations/olddefault.triglations.xml
/.vs
/Source/Triggernometry/PluginBridges/BridgeNamazu/Modules/ExecuteCommandModule.cs
/Source/TriggernometryScripts/UserScripts/*
!/Source/TriggernometryScripting/UserScripts/.keep