################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaptureStrings
/Translations/olddefault.triglations.xml
/.vs
/Source/Triggernometry/PluginBridges/BridgeNamazu/Modules/ExecuteCommandModule.cs
